body {  
 background-color: #000;    
 margin: 0;  
 overflow: hidden;  
 background-repeat: no-repeat;  
}  
p{
	position: absolute;
	top:15rem; 
	left: 37rem;
	animation: name 5s infinite; 
	color: #fff;;
	font-size: large;
}
@keyframes name{
	0%{
		transform:scale(1); 
		opacity: 0;
        color:blue;
	}
	50% { 
		transform: scale(4); 
		opacity: 1;
        color:pink;
    }
    100%{
		transform:scale(1); 
		opacity: 0;
        color: turquoise;

}
}